body{
   
   
}
table{
    width: 70%;
    height: 50%;
    border-collapse: collapse;
    position: relative;
    left: 15%;
    top: px;
   
}
.div1{
    font-size: 35px;
    display: flex;
    flex-direction: column;

}
tr{
    height: 15%;
    width:20%;
}
tr:nth-child(even){

    background-color: lightgrey;

}
td{
    border:1px solid grey;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.iframe1{
    justify-content:center;
    align-items: center;
    margin-top: px;
    margin-left: 300px;
    z-index: 32;
    border: 3px solid black;
    display: block;

}