body{
    background-color: rgb(20, 8, 19);
}
.div1{
    background-color: rgb(78, 34, 78);
    width:1100px;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    border-radius: 2px;


}
.div2{
    display: flex;

}
img{
    background-color: rgb(156, 3, 156);
    height: 500px;
    width: 500px;
    z-index: -1;
}
.p1{
    font-size: 4+++0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


