body{
    margin:0;

}
header{
    background-color: grey;
    color:white;
    overflow-y: auto;
    text-align: center;

}
div{
    Display:flex;
}
nav{
        background-color: lightgray;
        width:270px;
        padding-left: 20px;
        flex-direction:column;
        display:flex;
}
article{
    padding :10px 20px
}